<p style="color: green"><%= notice %></p>

<% content_for :title, "Categories" %> <%= link_to "New category",
new_category_path %>

<div id="categories">
  <% @categories.each do |category| %>
  <div id="<%= dom_id category %>">
    <div class="row col-12 bg-body">
      <div class="col-8">
        <p class="fs-3 fw-bold text-primary"><%= category.name %></p>
      </div>
      <div class="col-4 align-content-between pt-2">
        <p>
          <%= link_to category, class: 'btn btn-sm bg-indigo-200' do %>
            <i class="bi bi-eye"></i> Detalhar
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <% if category.sub_category.any? %>
  <div class="ml-3">
    <% category.sub_category.each do |sub| %>
    <div id="<%= dom_id sub %>">
      <p class="fs-5 fw-bold"><%= sub.name %></p>
    </div>
    <% end %>
  </div>
  <% end %>
  <hr />
  <% end %>
</div>
